.page{
  display: grid;
  grid-template-rows: auto 1fr;
}
.main{
  text-align: center;
  margin: 0 40px;
}

.wrapper{
  max-width: 1240px;
  min-width: 920px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
