.item {
    display: flex;
    flex-direction: column;
    gap: calc(var(--offset-base-size) * 4);
    justify-content: flex-start;
    align-content: center;
    width: 520px;
    /*border: 1px dashed #4C4CFF;*/
}

.itemImg {
    width: 480px;
    height: 240;
    margin: 0 auto;
    /*border: 1px dashed #4C4CFF;*/
}
.itemNutritional{
    display: flex;
    flex-direction: row;
    gap: calc(var(--offset-base-size) * 5);
    /*border: 1px dashed #4C4CFF;*/
}
.itemNutritional li{
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
}