.item {
    /*border: 1px dashed #4C4CFF;*/
    display: flex;
    flex-direction: column;
    gap: calc(var(--offset-base-size) * 1);
    justify-content: flex-start;
    align-content: center;
    text-align: center;
    /*width: 45%;*/
    position: relative;
}

.itemImg {
    width: 240px;
    height: 120;
    /*border: 1px dashed #4C4CFF;*/
}

.itemPrice {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    /*border: 1px dashed #4C4CFF;*/
}

.itemName {
    height: 48px;
    /*border: 1px dashed #4C4CFF;*/
}

.link{
    width: 49%;
    margin:0;
    padding:0;
    border:0;
    text-decoration: none;
    color: var(--text-primary-color);
}