.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.list{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    grid-auto-columns: auto;
    grid-auto-flow: column;
    padding: 0;
    margin: 0;
    row-gap: calc(var(--offset-base-size)  * 2);
    column-gap: calc(var(--offset-base-size)  * 4);

}
.list>li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}